.idea
dist
node_modules
tsconfig.tsbuildinfo
release

# dotenv environment variables file
.env
.env.staging
.env.production
.env.test

.env.development
.env.development.enc
.env.development.password

.env.dev
.env.dev.enc
.env.dev.password

.env.dev2
.env.dev2.enc
.env.dev2.password

.env.test.enc
.env.test.password

.env.production.password
.env.staging.password
.env.ci.password
